body {
     padding: 0;
     margin: 0px;
     box-sizing: border-box;
}

.Photo1 img{
     width: 40px;
     height: 40px;
     margin: 8px;
     border-radius: 50px;
     border: 3px solid white;
 }
 
 .Photo2 img{
     width: 40px;
     height: 40px;
     margin: 8px;
     border-radius: 50px;
     border: 3px solid white;
 }
 
 .Photo3 {
     margin: 0 auto;
     margin-top: -25px;
     color: white;
     text-align: right;
     font-family: "Love Ya Like A Sister", cursive;
     font-weight: 400;
     font-style: normal;
     font-size: 35px;
 }
 
 .top-header {
     display: flex;
     justify-content: space-between;
     background-color: rgb(84, 3, 160);
     height: 65px;
     margin-bottom: 0;
 }
 
 .navbar {
     display: flex;
     justify-content: flex-end;
     background-color: rgb(84, 3, 160);
     height: 58px;
     margin-top: 0;
 }
 
 nav ul {
     list-style: none;
     display: flex;
     font-family: "Caveat Brush", cursive;
     font-style: normal;
     font-size: 15px;
 }
 
 .navbar a {
     color: rgb(255, 255, 255);
     padding: 15px;
     text-decoration: none;
     right: 0px;
 }
 
 .navbar a:hover {
     background-color: rgb(59, 1, 97);
     border-radius: 8px;
 }
 
 nav li {
     margin-right: 20px;
 }
 
.Nobody {
     background-color: rgb(31, 31, 31);
}

.para {
     text-align: justify;
}
 
.first {
     display: flex;
     float: left;

     justify-content: center;
     align-items: center;
     margin: 35px;
}

.second {
     display: flex;
     float: left;
     padding: 25px;
     justify-content: center;
     align-items: center;
     margin: 35px;
}

.div1 {
     padding: 3%;
}

.second .div1 {
     padding-top: 0.5%;
}

.second .div1 img {
     width: 23%;
     height: 23%;
}

.div1 img {
     width: 20%;
     height: 20%;
     border: 3px solid rgb(255, 251, 0);
     border-radius: 1px;
}

.button a {
     text-decoration: none;
     color: black;
     font-size: 20px;
}
 
.h2 {
     color: rgb(255, 255, 255);
     font-family: "Protest Revolution", sans-serif;
     font-weight: 300;
     font-style: normal;
     font-size: 35px;
     color: #ffffff;
}
 
.para {
     color: rgb(255, 255, 255);
     font-family: "Merienda", cursive;
     font-optical-sizing: auto;
     font-weight: bold;
     font-style: normal;
     font-size: 15px;
}
 
.button {
     background-color: #ffee00;
     color: rgb(0, 0, 0);
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 18px;
     font-weight: 700;
     border-radius: 50px;
     width: 30%;
     cursor: pointer;
     font-family: "Caveat Brush", cursive;
     font-style: normal;
     text-transform: uppercase;
     margin-left: 58%;
}

.footer1 {
     background-color: #53039e;
     color: #fff;
     padding: 10px;
     right: 0;
     left: 0;
     bottom: 0px;
     display: flow-root;
     justify-content: space-between;
     margin-top: auto;
     position: relative;
}
 
.section1 {
     font-family: "Lobster", sans-serif;
     font-weight: 300;
     font-style: normal;
     width: 25%;
     text-align: center;
}
 
.section1 img {
     height: 90px;
     width: 90px;
     border-radius: 15%;
     border-radius: 50%;
     border: 3px solid rgb(185, 185, 185);
}
 
.section2 {
     font-family: "Tillana", system-ui;
     font-weight: 800;
     font-style: normal;
     font-size: 10px;
     width: 25%;
     text-align: center;
     color: white;
}
 
.section1 span {
     font-size: 20px;
     font-weight: bold;
}
 
.section2 ul a{
     color: white;
     text-decoration: none;
     font-size: 12px;
}

.section2 ul li{
     padding-top: 10px;
     padding-bottom: 10px;
}

.section3 {
     font-family: "Tillana", system-ui;
     font-weight: 800;
     font-style: normal;
     font-size: 10px;
     width: 25%;
}
 
.section4 {
     font-family: "Tillana", system-ui;
     font-weight: 800;
     font-style: normal;
     font-size: 10px;
     width: 25%;
}
 
.PGA {
     font-size: 20px;
}

.addressicon {
     background: url("css-sprite-combined.png") 0px -0px;
     height: 100px;
     width: 100px;
     zoom: 50%;
}
 
.phoneicon {
     background: url("css-sprite-combined.png")-100px -0px;
     height: 100px;
     width: 100px;
     zoom: 50%;
}
 
.emailicon {
     background: url("css-sprite-combined.png") -200px -0px;
     height: 100px;
     width: 100px;
     zoom: 50%;
}

body {
     margin: 0;
     padding: 0;
   }
   
   .container {
     max-width: 960px;
     margin: 0 auto;
   }
   
   /* Media query for small screens */
   @media (max-width: 768px) {
     .container {
       padding: 20px;
     }
     .element {
       width: 100%;
     }
   }

   .h3 {
     text-align: center;
     color: white;
     background-color: rgb(61, 61, 61);
     margin-top: 0;
     margin-bottom: 0;
     padding: 10px;
     font-size: 13px;
     font-family: "Kotta One", serif;
     font-weight: 400;
     font-style: normal;
}