body {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
}

.Photo1 img{
    width: 40px;
    height: 40px;
    margin: 8px;
    border-radius: 50px;
    border: 3px solid rgb(255, 255, 255);
}

.Photo2 img{
    width: 40px;
    height: 40px;
    margin: 8px;
    border-radius: 50px;
    border: 3px solid rgb(255, 255, 255);
}
 
.Photo3 {
    margin: 0 auto;
    margin-top: -25px;
    color: white;
    text-align: right;
    font-family: "Love Ya Like A Sister", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
}
 
.top-header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(84, 3, 160);
    height: 65px;
    margin-bottom: 0;
}
 
.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(84, 3, 160);
    height: 58px;
    margin-top: 0;
}
 
nav ul {
    list-style: none;
    display: flex;
    font-family: "Caveat Brush", cursive;
    font-style: normal;
    font-size: 15px;
}
 
.navbar a {
    color: rgb(255, 255, 255);
    padding: 15px;
    text-decoration: none;
    right: 0px;
}
 
.navbar a:hover {
    background-color: rgb(59, 1, 97);
    border-radius: 8px;
}
 
nav li {
    margin-right: 20px;
}

.text {
    margin: 50px;
    margin-top: 30px;
    margin-left: 80px;
}

.content {
    font-size: 25px;
    text-align: left;
    font-family: "Langar", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 217, 0);
}

.content span {
    font-size: 40px;
    font-weight: 500px;
}

.hr {
    width: 200px;
    height: 3px;
    background-color: rgb(255, 217, 0);
    left: 0px;
    margin-left: 0px;
    margin-top: 0.5px;
    border: none;
    border-radius: 3px;
}

.Devin {
    display: flex;
    margin: 30px;
}

.Devin img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 3px solid black;
}
 
.Punsara {
    width: 80%;
    height: 730px;
    background-color: white;
    text-align: center;
    margin: 50px;
    border-radius: 3px;
    margin-top: 10px;
    margin-right: 20px;
}

.Gimhan {
    width: 80%;
    height: 730px;
    background-color: white;
    text-align: center;
    margin: 50px;
    border-radius: 3px;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
}

.Abeyrathna {
    width: 80%;
    height: 730px;
    background-color: white;
    text-align: center;
    margin: 50px;
    border-radius: 3px;
    margin-top: 10px;
    margin-left: 20px;
}

.Omez {
    margin: 40px;
    margin-top: 50px;
    font-family: "Protest Revolution", sans-serif;
    font-weight: 200;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
}

.RJ {
    margin: 50px;
    font-family: "Kotta One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.panther {
    margin: 40px;
    font-family: "Lobster", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
}
 
.footer1 {
    background-color: #53039e;
    color: #fff;
    padding: 10px;
    right: 0;
    left: 0;
    bottom: 0px;
    display: flow-root;
    justify-content: space-between;
    margin-top: auto;
    position: relative;
}
 
.section1 {
    font-family: "Lobster", sans-serif;
    font-weight: 300;
    font-style: normal;
    width: 25%;
    text-align: center;
}
 
.section1 img {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 3px solid rgb(185, 185, 185);
}
 
.section2 {
    font-family: "Tillana", system-ui;
    font-weight: 800;
    font-style: normal;
    font-size: 10px;
    width: 25%;
    text-align: center;
    color: white;
}
 
.section1 span {
    font-size: 20px;
    font-weight: bold;
}
 
 
.section2 ul a{
    color: white;
    text-decoration: none;
    font-size: 12px;
}

.section2 ul li{
    padding-top: 10px;
    padding-bottom: 10px;
}

.section3 {
    font-family: "Tillana", system-ui;
    font-weight: 800;
    font-style: normal;
    font-size: 10px;
    width: 25%;
}
 
.section4 {
    font-family: "Tillana", system-ui;
    font-weight: 800;
    font-style: normal;
    font-size: 10px;
    width: 25%;
}
 
.PGA {
    font-size: 20px;
}

.addressicon {
    background: url("css-sprite-combined.png") 0px -0px;
    height: 100px;
    width: 100px;
    zoom: 50%;
}
 
.phoneicon {
    background: url("css-sprite-combined.png")-100px -0px;
    height: 100px;
    width: 100px;
    zoom: 50%;
}
 
.emailicon {
    background: url("css-sprite-combined.png") -200px -0px;
    height: 100px;
    width: 100px;
    zoom: 50%;
}

.h3 {
    text-align: center;
    color: white;
    background-color: rgb(61, 61, 61);
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
    font-size: 13px;
    font-family: "Kotta One", serif;
    font-weight: 400;
    font-style: normal;
}